# SQLite 3
Python en su nucleo ya tiene la libreria incorporada

In [1]:
import sqlite3
conn = sqlite3.connect("test.db") # Si no existe la creará
sql = "CREATE TABLE prueba (id INT,nombre CHAR(50),edad INT,email CHAR(60),PRIMARY KEY(id))"
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
conn.close()

In [2]:
import sqlite3
conn = sqlite3.connect("test.db")
cursor = conn.cursor()
sql = "INSERT INTO prueba (id,nombre,edad,email) VALUES (1,'Guillermo',26,'guille@email.com')"
cursor.execute(sql)
cursor.close()
conn.commit()
conn.close()

### Leer la tabla y recolerlo solo 1

In [3]:

conn = sqlite3.connect("test.db")
cursor = conn.cursor()
cursor.execute("SELECT*FROM prueba")
prueba = cursor.fetchone()
print(prueba)
conn.commit()
conn.close()

(1, 'Guillermo', 26, 'guille@email.com')

Hacer una ejecución de varios

In [7]:
pruebas = [
    (2,"Sandra",22,"sandra@email.com"),
    (3,"Levis",2,"levis@email.com"),
    (4,"Nala",8,"nala@email.com")
]

conn = sqlite3.connect("test.db")
cursor = conn.cursor()
cursor.executemany("INSERT INTO prueba (id,nombre,edad,email) VALUES (?,?,?,?)",pruebas)
conn.commit()
conn.close()

In [8]:
conn = sqlite3.connect("test.db")
cursor = conn.cursor()
cursor.execute("SELECT*FROM prueba")
pruebaLista = cursor.fetchall()
for prueba in pruebaLista:
    print(prueba)
conn.commit()
conn.close()

(1, 'Guillermo', 26, 'guille@email.com')
(2, 'Sandra', 22, 'sandra@email.com')
(3, 'Levis', 2, 'levis@email.com')
(4, 'Nala', 8, 'nala@email.com')

# Ejercicio
Pasar de la base de datos a un archivo de texto